OPENAI_BASE_URL="http://localhost:11434/v1"
MODEL= 'llama3.2'
OPENAI_API_KEY = 'fake_key'
OPENWEATHER_API_KEY= "your-open-weather-api-key" # if you want to use this agent, kindly add your openweather api key here